<body>
    <br />
    <br />
    
    <div>
      <form (ngSubmit)="goToDriver()">
        <div class="inline">
          <input
            [(ngModel)]="EnteredID"
            type="text"
            class="form-control"
            id="driverID"
            name="driverID"
            placeholder="Search by ID"
            style="width: 300px"
          />
          <button class="btn btn-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>
  
    <br />
    <br />
    <br />
  
    <div class="button-table-container">
  
      <div class="add-driver-container">
        <button (click)="addDriver()" class="btn btn-primary">
          Add Driver
        </button>
      </div>
  
      <div class="table-container">
        <table
          style="margin-bottom: 50px"
          class="table table-responsive table-striped border-dark"
        >
          <thead class="table-dark">
            <tr class="display block">
              <th>Id</th>
              <th>Name</th>
              <th>Category</th>
              <th>Vehicle Model</th>
              <th>Plate Number</th>
              <th>Year Of Issue</th>
              <th>Phone</th>
              <th>License</th>
              <th>Actions</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let driver of drivers">
              <td>{{ driver.driverID }}</td>
              <td>{{ driver.name }}</td>
              <td>{{ driver.category }}</td>
              <td>{{ driver.vehicleModel }}</td>
              <td>{{ driver.plateNumber }}</td>
              <td>{{ driver.yearOfIssue }}</td>
              <td>{{ driver.phoneNum }}</td>
              <td>{{ driver.license }}</td>
              <td>
                <button
                  (click)="updateDriver(driver.driverID)"
                  class="btn btn-secondary btn-sm"
                >
                  Update
                </button>
                <button
                  (click)="deleteDriver(driver.driverID)"
                  class="btn btn-danger btn-sm"
                  style="margin-left: 10px"
                >
                  Delete
                </button>
                <button
                  (click)="detailsOfDriver(driver.driverID)"
                  class="btn btn-success btn-sm"
                  style="margin-left: 10px"
                >
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  