<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-left" mode="side" opened>
    <mat-nav-list>
      <div class="image-container">
        <a routerLink="home">
          <img src="../assets/oneclicklogo.png" alt="oneclicklogo" style="border-radius: 5px; border: solid line    ;">
        </a>
      </div>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <p class="nav-text">Home</p>
      </a>
      <a mat-list-item routerLink="login" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        <p class="nav-text">Login</p>
      </a>
      <a mat-list-item routerLink="show-all-users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <p class="nav-text">Users</p>
      </a>
      <a mat-list-item routerLink="show-all-drivers" routerLinkActive="active">
        <mat-icon svgIcon="car"></mat-icon>
        <p class="nav-text">Drivers</p>
      </a>
      <a mat-list-item routerLink="show-all-trackinglogs" routerLinkActive="active">
        <mat-icon>track_changes</mat-icon>
        <p class="nav-text">Tracking Log</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
