@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav-left {
  width: 200px;
}

.sidenav-content{
  flex: 1; 
  overflow: auto;
}