<section class="about">
  <br /><br>
  <div class="container">
    <div class="about-section">
      <h2>About Us</h2>
      <p style="font-size: medium;">
        Our logistics management system app is designed to optimize supply chain
        processes, ensuring seamless flow of goods and information. With a focus
        on quality and efficiency, we leverage innovative technology to stay
        ahead of industry trends and anticipate future developments. Our mission
        is to provide accessible and efficient logistics services, empowering
        businesses to streamline operations and enhance productivity.
      </p>
    </div>
    <br /><br />
    <h2 style="text-align: center">Our Team</h2>

      <div class="column">
        <div class="card">
          <img src="../assets/reyes.jpg" alt="Jane" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Maria Claire Reyes</h4>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/uriarte.jpg" alt="Mike" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Mark Aldwin Uriarte</h4>
            <p class="title">Researcher</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/team3.jpg" alt="John" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Christine Julia Alpornon</h4>
            <p class="title">Researcher</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/fernandez.jpg" alt="John" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Carl Matthew Fernandez</h4>
            <p class="title">Researcher</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/team3.jpg" alt="John" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Brian Sebastian</h4>
            <p class="title">Web Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

    </div>
  <br /><br /><br /><br /><br />
</section>
