<section class="about">
  <br /><br>
  <div class="container">
    <div class="about-section">
      <h2>About Us</h2>
      <p style="font-size: medium;">
        Our logistics management system app is designed to optimize supply chain
        processes, ensuring seamless flow of goods and information. With a focus
        on quality and efficiency, we leverage innovative technology to stay
        ahead of industry trends and anticipate future developments. Our mission
        is to provide accessible and efficient logistics services, empowering
        businesses to streamline operations and enhance productivity.
      </p>
    </div>
    <br /><br />
    <h2 style="text-align: center">Our Team</h2>

      <div class="column">
        <div class="card">
          <img src="../assets/reyes.jpg" alt="Reyes" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Maria Claire Reyes</h4>
            <p class="title">Researcher</p>
            <p>Investigates and analyzes information to advance knowledge in a specific field.</p>
            <p>clairereyes000014@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/uriarte.jpg" alt="Uriarte" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Mark Aldwin Uriarte</h4>
            <p class="title">Data Analyst</p>
            <p>Interprets complex data to inform business decisions.</p>
            <p>uriartemarkaldwin@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/alpornon.jpg" alt="Alpornon" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Christine Julia Alpornon</h4>
            <p class="title">System Analyst</p>
            <p>Maintains and optimizes computer systems to meet business needs.</p>
            <p>cjalpornon@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/fernandez.jpg" alt="Fernandez" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Carl Matthew Fernandez</h4>
            <p class="title">Researcher</p>
            <p>Investigates and analyzes information to advance knowledge in a specific field.</p>
            <p>ctrlfrz0710@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/sebastian.jpg" alt="Sebastian" style="width: 100%; border-radius: 5px;" />
          <div class="container">
            <h4>Brian Sebastian</h4>
            <p class="title">Web Developer</p>
            <p>Builds and maintains websites and web applications.</p>
            <p>brianmaysebastian@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

    </div>
  <br /><br /><br /><br /><br />
</section>
