<body>
  <br />
  <br />
  <div class="container-sm">
    <div class="col-md-6 offset-md-3 container-sm">
      <table class="table table-striped border-dark">
        <thead class="table-dark">
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Tracking ID</b></td>
            <td>{{ trackinglog.trackingID }}</td>
          </tr>
          <tr>
            <td><b>Date</b></td>
            <td>{{ trackinglog.date }}</td>
          </tr>
          <tr>
            <td><b>Time</b></td>
            <td>{{ trackinglog.time }}</td>
          </tr>
          <tr>
            <td><b>Location</b></td>
            <td>{{ trackinglog.location }}</td>
          </tr>
          <tr>
            <td><b>Activity</b></td>
            <td>{{ trackinglog.activity }}</td>
          </tr>
          <tr>
            <td><b>Responsibility</b></td>
            <td>{{ trackinglog.responsibility }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="form-group col-md-6">
          <a
            routerLink="/updating-by-id/{{ trackinglog.trackingID }}"
            id="btn1"
            class="btn btn-secondary full-width-button"
            >Update Details</a
          >
        </div>
        <div class="form-group col-md-6">
          <a
            routerLink="/show-all-trackinglogs"
            id="btn2"
            class="btn btn-danger full-width-button"
            >Back</a
          >
        </div>
      </div>
    </div>
  </div>
</body>
