<body>
    <br /><br />
    <br /><br />
    <div class="container-sm">
      <div class="col-md-6 offset-md-3 container-sm">
        <form
          #f="ngForm"
          (ngSubmit)="f.form.valid && onSubmit()"
          class="row g-3 form-container container-sm"
        >
          <div class="form-group col-md-12">
            <label class="form-label"><b>Name</b></label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="driver.name"
              name="name"
              required
              minlength="3"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
            />
            <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
              <div *ngIf="name.errors['required']">Name is required</div>
              <div *ngIf="name.errors['minlength']">
                Name must be at least 3 characters long
              </div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="form-label"><b>Category</b></label>
            <select
              class="form-select"
              id="category"
              [(ngModel)]="driver.category"
              name="category"
              required
              #category="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && category.errors }"
            >
              <option selected disabled value="">Choose...</option>
              <option>Car</option>
              <option>Van</option>
              <option>Minivan</option>
              <option>SUV</option>
              <option>Truck</option>
              <option>Motorcycle</option>
              <option>Bike</option>
            </select>
            <div *ngIf="f.submitted && category.errors" class="invalid-feedback">
              <div *ngIf="category.errors['required']">Category is required</div>
            </div>
          </div>
          
  
          <div class="form-group col-md-6">
            <label class="form-label"><b>Vehicle Model</b></label>
            <input
              type="text"
              class="form-control"
              id="vehicleModel"
              [(ngModel)]="driver.vehicleModel"
              name="vehicleModel"
              required
              #vehicleModel="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && vehicleModel.errors }"
            />
            <div *ngIf="f.submitted && vehicleModel.errors" class="invalid-feedback">
              <div *ngIf="vehicleModel.errors['required']">Vehicle Model is required</div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="form-label"><b>Plate Number</b></label>
            <input
              type="text"
              class="form-control"
              id="plateNumber"
              [(ngModel)]="driver.plateNumber"
              name="plateNumber"
              required
              #plateNumber="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && plateNumber.errors }"
            />
            <div *ngIf="f.submitted && plateNumber.errors" class="invalid-feedback">
              <div *ngIf="plateNumber.errors['required']">Plate Number is required</div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="form-label"><b>Year of Issue</b></label>
            <input
              type="number"
              class="form-control"
              id="yearOfIssue"
              [(ngModel)]="driver.yearOfIssue"
              name="yearOfIssue"
              required
              min="1900" 
              max="2099" 
              pattern="[0-9]{4}" 
              #yearOfIssue="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && yearOfIssue.errors }"
            />
            <div *ngIf="f.submitted && yearOfIssue.errors" class="invalid-feedback">
              <div *ngIf="yearOfIssue.errors['required']">Year of Issue is required</div>
              <div *ngIf="yearOfIssue.errors['pattern']">Please enter a valid year</div>
            </div>
          </div>
            
          <div class="form-group col-md-6">
            <label class="form-label"><b>Phone Number</b></label>
            <input
              type="text"
              class="form-control"
              id="phoneNum"
              [(ngModel)]="driver.phoneNum"
              name="phoneNum"
              required
              #phoneNum="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && phoneNum.errors }"
            />
            <div *ngIf="f.submitted && phoneNum.errors" class="invalid-feedback">
              <div *ngIf="phoneNum.errors['required']">Phone number is required</div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="form-label"><b>License</b></label>
            <input
              type="text"
              class="form-control"
              id="license"
              [(ngModel)]="driver.license"
              name="license"
              required
              #license="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && license.errors }"
            />
            <div *ngIf="f.submitted && license.errors" class="invalid-feedback">
              <div *ngIf="license.errors['required']">License is required</div>
            </div>
          </div>
          
          <div></div>

          <div class="form-group col-md-6">
            <button
              class="btn btn-success full-width-button"
              type="submit"
              id="reg"
            >
              Submit
            </button>
          </div>
  
          <div class="col-md-6">
            <button
              type="button"
              (click)="goToDriverList()"
              class="btn btn-danger full-width-button"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
  